.navbar {
    display: flex;
    justify-content: center;
    
    background-color: #98D8D8;
}

.navbar a {
    text-decoration: none;
    margin: 1rem 2rem;
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a:focus {
    color: rgb(141, 141, 141);
}